/* here we only do moving styles */

.car, .car__front-wheels, .car__rear-wheels, .car__rear-wheels-wrapper{
    position: relative;
}


.car__front-wheels, .car__rear-wheels{
    top: 50px;
}
.car__rear-wheels{
    top: 20px;
    position: absolute ;
}
